## /etc/ddclient.conf
# ddclient daemon config
daemon={{ddclient_daemon}}
syslog={{ddclient_syslog}}
mail-failure={{ddclient_mail_failure}}
pid={{ddclient_pid}}
ssl={{ddclient_ssl}}
# ddclient user config
use={{ddclient_use}}
web={{ddclient_web}}
protocol={{ddclient_protocol}}
server={{ddclient_server}}
script={{ddclient_script}}
login={{ddclient_login}}
password={{ddclient_password}}
{{ddclient_subdomain}}
