[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "*"
docker = "*"
ansible-lint = "*"
cryptography = "*"
ansible-core = "==2.16.8" # Limit version to support python3 version shipped with centos8

[requires]
python_version = "3.12"
