<advancedsettings>
  <videodatabase>
    <type>mysql</type>
    <host>{{ kodi_mysql_host }}</host>
    <port>{{ kodi_mysql_port|default(3306) }}</port>
    <user>{{ kodi_user|default('kodi') }}</user>
    <pass>{{ kodi_password }}</pass>
  </videodatabase> 
  <loglevel>0</loglevel>
  <video>
    <excludefromscan>
      <regexp>sample</regexp>
    </excludefromscan>
    <excludefromlisting>
      <regexp>sample</regexp>
    </excludefromlisting>
  </video>
  <videolibrary>
    <importwatchedstate>true</importwatchedstate>
    <importresumepoint>true</importresumepoint>
    <cleanonupdate>{{ kodi_cleanonupdate|default('true') }}</cleanonupdate>  <!-- default set to false to prevent Kodi from removing items from the database while updating.  -->
  </videolibrary>
  <useddsfanart>true</useddsfanart>
  <cputempcommand>cputemp</cputempcommand>
  <gputempcommand>gputemp</gputempcommand>
  <samba>
    <clienttimeout>30</clienttimeout>
  </samba>
  <network>
    <disableipv6>true</disableipv6>
  </network>
</advancedsettings>
