[[inputs.cpu]]
  percpu = true
  totalcpu = true
  fielddrop = ["time_*"]

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs"]

[[inputs.diskio]]
[[inputs.kernel]]
[[inputs.mem]]
[[inputs.processes]]
[[inputs.swap]]
[[inputs.system]]

[[inputs.snmp]]
  agents = ["192.168.7.1"]
  version = 2
  community = "public"
  
  [[inputs.snmp.field]]
  name = "uptime"
  oid = "1.3.6.1.2.1.25.1.1.0"

  [[inputs.snmp.field]]
  name = "avrload_1min"
  oid = "1.3.6.1.4.1.2021.10.1.3.1"
  conversion = "float(0)"

  [[inputs.snmp.field]]
  name = "avrload_5min"
  oid = "1.3.6.1.4.1.2021.10.1.3.2"
  conversion = "float(0)"


  [[inputs.snmp.field]]
  name = "avrload_15min"
  oid = "1.3.6.1.4.1.2021.10.1.3.3"
  conversion = "float(0)"

  [[inputs.snmp.field]]
  name = "available_memory"
  oid = "1.3.6.1.2.1.25.2.3.1.5.101"
  conversion = "int"

  [[inputs.snmp.field]]
  name = "used_memory"
  oid = "1.3.6.1.2.1.25.2.3.1.6.101"
  conversion = "int"

[[inputs.snmp]]
  agents = ["192.168.7.10", "192.168.7.11"]
  version = 1
  community = "unifi"

  [[inputs.snmp.field]]
  name = "hostname"
  oid = "1.3.6.1.2.1.1.5.0"
  is_tag = true

  [[inputs.snmp.field]]
  name = "uptime"
  oid = "1.3.6.1.2.1.1.3.0"
