download_dir: '/mnt/storage/torrents'
series_dir: '/mnt/storage/serier'
movie_dir: '/mnt/storage/filmer'
watch_dir: '/home/peer/watch'

# The seed time for serie episodes
series_seed_time: 5

# The seed time for movie episodes
movie_seed_time: 10

# Movie identifiers
movie_identifiers:
  - '720p'
  - '1080p'
  - 'DVDRip'
  - 'BDRip'
  - 'WEB-DL'
  - 'x264'
  - 'BRRip'

transmission_host: 127.0.0.1
transmission_user: peer
transmission_password: {{ transmission_password }}
transmission_port: 9091