# {{ ansible_managed }}

scrape_configs:
  - job_name: "hass"
    scrape_interval: 60s
    scrape_timeout: 20s
    metrics_path: /api/prometheus

    # Long-Lived Access Token
    authorization:
      credentials: "{{ prometheus_auth_hass_token }}"

    scheme: http
    static_configs:
      - targets: ["{{ home_assistant_ip }}:8123"]

  - job_name: "telegraf"
    scrape_interval: 60s
    static_configs:
      - targets: {{ telegraf_targets }}

  - job_name: "blackbox http"
    scrape_interval: 60s
    metrics_path: /probe
    params:
      module: [http_2xx]  # Look for a HTTP 200 response.
    static_configs:
      - targets: {{ blackbox_exporter_http_targets|default([]) }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ blackbox_exporter_host }}:9115

  - job_name: 'blackbox icmp'
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets:  {{ blackbox_exporter_icmp_targets|default([]) }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ blackbox_exporter_host }}:9115  # This is your blackbox exporter.