- alias: 'Sätt rörelsestatus till av i källaren'
  trigger:
    - platform: state
      entity_id: binary_sensor.basement_entry
      to: 'on'
      for:
        minutes: 5
  action:
    service: mqtt.publish
    data:
        topic: 'emqtt/noreplypeers.se'
        payload: 'OFF'
