[[inputs.dns_query]]
  servers = ["192.168.7.1"]
  domains = ["www.google.se"]
  timeout = 10

[[inputs.dns_query]]
  servers = ["8.8.8.8"]
  domains = ["peers.se"]
  timeout = 10

[[ inputs.ping ]]
  urls =  {{ telegraf_ping_urls }}
  count = 5


[[ inputs.http_response ]]
  urls = [
    "http://{{ ansible_default_ipv4.address }}:8888/pwa/login.html",
    "http://{{ ansible_default_ipv4.address }}:8123",
    "http://{{ ansible_default_ipv4.address }}:8082",
    "http://{{ ansible_default_ipv4.address }}:9091",
    "http://192.168.7.9:80",
    "http://192.168.7.30:80"
  ]
[[ inputs.http_response ]]
  urls = [
    "https://{{ ansible_default_ipv4.address }}:8443/manage/account/login",
    "https://192.168.7.1"
  ]
  insecure_skip_verify = true
[[ inputs.http_response ]]
  urls = ["http://{{ nvr_ip }}:7080/login"]
  follow_redirects = true