[[inputs.dns_query]]
  servers = ["192.168.7.1"]
  domains = ["www.google.se"]
  timeout = 10

[[inputs.dns_query]]
  servers = ["8.8.8.8"]
  domains = ["peers.se"]
  timeout = 10

[[ inputs.ping]]
  urls = [ "192.168.7.10", "192.168.7.11", "192.168.7.1"]
  count = 5

[[inputs.snmp]]
  agents = ["192.168.7.1"]
  version = 1
  community = "unifi"
  
  [[inputs.snmp.field]]
  name = "uptime"
  oid = "DISMAN-EVENT-MIB::sysUpTimeInstance"

  [[inputs.snmp.field]]
  name = "avrload_1min"
  oid = "UCD-SNMP-MIB::laLoadInt.1"
  conversion = "float(0)"

  [[inputs.snmp.field]]
  name = "available_memory"
  oid = "HOST-RESOURCES-MIB::hrMemorySize.0"
  conversion = "int"

  [[inputs.http_response]]
  address = "http://192.168.7.7:8888/pwa/login.html"