- platform: command_line
  name: ps4
  command: /home/{{ home_assistant_user }}/ps4_sensor.py
  device_class: connectivity
  scan_interval: 5

- platform: rfxtrx
  automatic_add: True
  devices:
    0b11000100d18efe0a010f50:
      name: ringklockan
      off_delay:
        seconds: 10
