homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 59.361560
  longitude: 17.885269
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 19
  unit_system: metric
  time_zone: Europe/Stockholm
  customize: !include customizations.yaml

frontend:
config:

http:
  api_password: !secret api_password
  base_url: peers.se:443
  ssl_certificate: {{ home_assistant_cfg_dir }}/fullchain.pem
  ssl_key: {{ home_assistant_cfg_dir }}/privkey.pem

updater:
  include_used_components: true

# Discover some devices automatically
discovery:
  ignore:
    - samsung_tv

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

# Track the sun
sun:

# Text to speech
tts:
  platform: google

# Enable wake on lan
wake_on_lan:

# Netatmo
netatmo:
  api_key: 59a6b173ea00a0771c8bbc5b
  secret_key: !secret netatmo_api_secret
  username: paer.berge@gmail.com
  password: !secret netatmo_password
  discovery: False

# verisure
verisure:
  username: per@peers.se
  password: !secret verisure_password
  alarm: 0
  hygrometers: 0
  smartplugs: 0
  thermometers: 0
  mouse: 0
  door_window: 0
  code_digits: 6

logger:
  default: warning
  logs:
    homeassistant.components.rfxtrx: debug

rfxtrx:
  device: /dev/serial/by-id/usb-RFXCOM_RFXtrx433_A11I6JAE-if00-port0
  debug: True

influxdb:
  default_measurement: state
  component_config_glob:
    'sensor.*temperature':
      override_measurement: 'temperature'
    'sensor.*humidity':
      override_measurement: 'humidity'
    'sensor.*co2':
      override_measurement: 'co2'
    'sensor.*noise':
      override_measurement: 'noise_level'
  include:
    entities:
      - sensor.netatmo_utomhus_humidity
      - sensor.netatmo_utomhus_temperature
      - sensor.netatmo_badrum_kallare_temperature
      - sensor.netatmo_badrum_kallare_humidity
      - sensor.netatmo_badrum_kallare_co2
      - sensor.netatmo_barnrummet_temperature
      - sensor.netatmo_barnrummet_humidity
      - sensor.netatmo_barnrummet_co2
      - sensor.netatmo_barnrummet_noise
      - binary_sensor.samsung_tv
      - media_player.vardagsrummet

  tags_attributes:
    - friendly_name

panel_iframe:
  grafana:
    title: 'Statistik'
    icon: mdi:elevation-rise
    url: 'http://192.168.7.7:3000/dashboard/db/home-assistant?orgId=1&theme=light'

group: !include_dir_merge_named group/
automation: !include_dir_merge_list automation/
media_player: !include media_players.yaml
binary_sensor: !include binary_sensors.yaml
sensor: !include sensors.yaml
device_tracker: !include device_trackers.yaml
switch: !include switches.yaml
notify: !include notifiers.yaml
script: !include scripts.yaml
light: !include lights.yaml
