default_view:
  view: yes
  icon: mdi:home
  entities:
    - group.all_netatmo_sensors
    - automation.forgot_to_lock
    - switch.yale_lock
    - group.device_tracker

topfloor:
  name: Övervåningen
  view: yes
  entities:
    - group.netatmo_topfloor

mainfloor:
  name: bottenvåningen
  view: yes
  entities:
    - media_player.vardagsrummet
    - media_player.samsung_tv

basement:
  name: Källaren
  view: yes
  entities:
    - group.basement_media
    - automation.marantz_auto_on
    - automation.marantz_auto_off
    - group.netatmo_basement

basement_media:
  name: Mediaspelare
  entities:
    - media_player.kodi
    - binary_sensor.ps4
    - media_player.marantz_sr5007
    - media_player.kallaren

device_tracker:
  name: Enheter
  entities:
    - device_tracker.honor_8
    - device_tracker.nexus_6p

all_netatmo_sensors:
  name: Klimat
  entities:
    - sensor.netatmo_overvaningen_temperature
    - sensor.netatmo_overvaningen_humidity
    - sensor.netatmo_overvaningen_co2
    - sensor.netatmo_overvaningen_noise
    - sensor.netatmo_kallaren_temperature
    - sensor.netatmo_kallaren_humidity
    - sensor.netatmo_kallaren_co2
    - sensor.netatmo_utomhus_temperature
    - sensor.netatmo_utomhus_humidity

netatmo_topfloor:
  name: Klimat övervåningen
  entities:
    - sensor.netatmo_overvaningen_temperature
    - sensor.netatmo_overvaningen_humidity
    - sensor.netatmo_overvaningen_co2
    - sensor.netatmo_overvaningen_noise

netatmo_basement:
  name: Klimat källaren
  entities:
    - sensor.netatmo_kallaren_temperature
    - sensor.netatmo_kallaren_humidity
    - sensor.netatmo_kallaren_co2
