# {{ ansible_managed }}
# Source: https://home-assistant.io/docs/autostart/systemd/

[Unit]
Description=Home Assistant
After=network.target

[Service]
Type=simple
User={{ home_assistant_user }}
ExecStart='/home/{{ home_assistant_user }}/bin/hass -c /home/{{ home_assistant_user }}/.homeassistant'

[Install]
WantedBy=multi-user.target
