
honor_8:
  hide_if_away: false
  icon:
  mac: A8:C8:3A:22:7F:13
  name: Malena (Honor 8)
  picture:
  track: true
  vendor: HUAWEI TECHNOLOGIES CO.,LTD

android88f112b379d5e481:
  hide_if_away: false
  icon:
  mac: 14:9D:09:EC:E4:F7
  name: android-88f112b379d5e481
  picture:
  track: false
  vendor: HUAWEI TECHNOLOGIES CO.,LTD

chromecast_kallaren:
  hide_if_away: false
  icon:
  mac: A4:77:33:92:CD:FE
  name: "Chromecast k\xE4llaren"
  picture:
  track: false
  vendor: Google, Inc.

nexus_7:
  hide_if_away: false
  icon:
  mac: AC:22:0B:E6:97:CB
  name: Nexus 7
  picture:
  track: false
  vendor: ASUSTek COMPUTER INC.

parsmbp:
  hide_if_away: false
  icon:
  mac: 18:65:90:D4:59:0F
  name: Pars-MBP
  picture:
  track: true
  vendor: Apple, Inc.

nexus_6p:
  hide_if_away: false
  icon:
  mac: 24:DF:6A:33:E6:0E
  name: Pär (Nexus 6P)
  picture:
  track: true
  vendor: HUAWEI TECHNOLOGIES CO.,LTD

parsair:
  hide_if_away: false
  icon:
  mac: C4:B3:01:A4:51:78
  name: Pars-Air
  picture:
  track: true
  vendor: Apple, Inc.

netatmopersonalweatherstatio:
  hide_if_away: false
  icon:
  mac: 70:EE:50:1D:E9:76
  name: Netatmo-Personal-Weather-Statio
  picture:
  track: false
  vendor: Netatmo

samsung_tv:
  hide_if_away: false
  icon:
  mac: 14:BB:6E:C7:5E:49
  name: Samsung TV
  picture:
  track: false
  vendor: unknown

chromecast_entre:
  hide_if_away: false
  icon:
  mac: 54:60:09:96:AD:02
  name: "Chromecast entr\xE9"
  picture:
  track: false
  vendor: Google, Inc.
