- platform: kodi
  host: peerhtpc
  username: peer
  password: 7
  turn_on_action:
    service: wake_on_lan.send_magic_packet
    data:
      mac: e0:69:95:53:23:67
  turn_off_action:
    service: media_player.kodi_call_method
    data:
      entity_id: media_player.kodi
      method: System.Hibernate

- platform: denonavr
  host: marantz
  name: Marantz sr5007
  scan_interval: 30

#- platform: samsungtv
#  host: samsungtv
#  name: Samsung TV
#  port: 8001
#  mac: 14:bb:6e:c7:5e:49

- platform: cast
  host: 192.168.7.109

- platform: cast
  host: 192.168.7.101
