api_password: {{ hass_password }}
netatmo_api_secret: {{ netatmo_api_secret }}
netatmo_password: {{ netatmo_password }}
verisure_password: {{ verisure_password }}
wunderground_api_key: {{ wunderground_api_key }}
