api_password: {{ hass_password }}
netatmo_api_secret: {{ netatmo_api_secret }}
netatmo_password: {{ netatmo_password }}
verisure_password: {{ verisure_password }}
wunderground_api_key: {{ wunderground_api_key }}
verisure_door_pin: {{ verisure_door_pin }}
unifi_password: {{ unifi_password }}
kodi_password: 7
hass_pushover_api_key: {{ hass_pushover_api_key }}
pushover_user_key: {{ pushover_user_key }}
google_server_key: {{ google_server_key }}
google_sender_id: {{ google_sender_id }}
