- platform: netatmo
  station: Solleftegatan 80
  modules:
    Utomhus:
      - temperature
      - humidity
    Badrum källare:
      - temperature
      - humidity
      - co2
    Barnrummet:
      - temperature
      - humidity
      - co2
      - noise

- platform: yr
