- platform: netatmo
  station: Solleftegatan 80
  modules:
    Utomhus:
      - temperature
      - humidity
    Badrum källare:
      - temperature
      - humidity
      - co2
    Barnrummet:
      - temperature
      - humidity
      - co2
      - noise

- platform: rfxtrx
  automatic_add: True
  devices:
    082003009c92000660:
      name: Brandvarnare bottenvåning
      fire_event: True

- platform: cert_expiry
  host: peers.se
