- platform: netatmo
  station: Solleftegatan 80
  modules:
    Utomhus:
      - temperature
      - humidity
    Badrum källare:
      - temperature
      - humidity
      - co2
    Barnrummet:
      - temperature
      - humidity
      - co2
      - noise

- platform: rfxtrx
  #automatic_add: True
  devices:
    0820031eb5a3000670:
      name: brandvarnare_2
      fire_event: True

- platform: cert_expiry
  host: peers.se
