---

- include_tasks: docker.yml hass_container_restart='yes'
  register: hass_is_restarting
  notify: annotate influxdb

- name: Check homeassistant config
  become: yes
  command: 'docker exec home_assistant python -m homeassistant --script check_config -c /config'
  register: hass_config_check
  notify: Assert config

- name: Assert config
  assert:
    that:
      - "'ERROR' not in hass_config_check.stdout"
    msg: "Config check reported error"

- name: Reload group config
  uri:
    url: "{{ hass_url }}/api/services/group/reload"
    method: POST
    headers:
      x-ha-access: "{{ hass_password }}"
      Content-Type: application/json
  when: hass_is_restarting is not defined

- name: Reload automation config
  uri:
    url: "{{ hass_url }}/api/services/automation/reload"
    method: POST
    headers:
      x-ha-access: "{{ hass_password }}"
      Content-Type: application/json
  when: hass_is_restarting is not defined

- name: Reload core config
  uri:
    url: "{{ hass_url }}/api/services/homeassistant/reload_core_config"
    method: POST
    headers:
      x-ha-access: "{{ hass_password }}"
      Content-Type: application/json
  when: hass_is_restarting is not defined

- name: Reload script config
  uri:
    url: "{{ hass_url }}/api/services/script/reload"
    method: POST
    headers:
      x-ha-access: "{{ hass_password }}"
      Content-Type: application/json
  when: hass_is_restarting is not defined

- name: annotate influxdb
  uri:
    url: "http://{{ home_assistant_influxdb_host }}:8086/write?db={{ hass_influxdb_database }}&precision=s"
    method: POST
    body: 'events title="Home assistant restarted"'
    status_code: 204
  when: hass_influxdb_enabled
