# {{ ansible_managed }}
http:
  # Add the router
  routers:
    homeassistant-router:
      entryPoints:
      - http
      - https
      middlewares:
      service: homeassistant-service
      rule: Host(`ha.peers.se`)
      tls: {}
  services:
    homeassistant-service:
      loadBalancer:
        servers:
          - url: http://{{ peersrv_ip }}:8123
