[Unit]
Description=UniFi 
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar {{ unifi_install_destination }}/UniFi/lib/ace.jar start &
ExecStop=/usr/bin/java -jar {{ unifi_install_destination }}/UniFi/lib/ace.jar stop &
User={{ unifi_user }}
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
