mainfloor:
  name: bottenvåningen
  view: yes
  entities:
    - group.mainfloor_livingroom
    - group.front_door

mainfloor_livingroom:
  name: Vardagsrummet
  entities:
    - media_player.vardagsrummet
    - binary_sensor.samsung_tv
    #- media_player.samsung_tv

front_door:
  name: Ytterdörren
  control: hidden
  icon: mdi:glassdoor
  entities:
    - switch.yale_lock
    - light.lampa_ytterdorren
