server {
    server_name graph.peers.se;
    listen 80;
    return 301 https://$host$request_uri;
}
server {
    server_name graph.peers.se;

    ssl_certificate /etc/letsencrypt/live/peers.se/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/peers.se/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot

    listen 443;
    ssl on;

    proxy_buffering off;

    location / {
        proxy_pass http://{{ grafana_ip }}:3000;
        proxy_set_header Host $host;
        proxy_http_version 1.1;
    }
}
